{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Task manager</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, adipisci temporibus. Nihil nobis
            voluptate quia provident optio voluptatum quis aspernatur asperiores placeat. Perspiciatis quam magni
            ratione doloremque aliquam ipsa excepturi placeat quibusdam saepe, esse dicta autem pariatur maiores eius
            quia repellat rem animi similique ab tempore fuga omnis sed molestias! Error amet consequuntur magni, in
            voluptas nihil quas iure repellendus, quo consequatur quasi cumque necessitatibus deleniti vitae nemo
            ducimus laudantium aperiam fugiat aliquid corrupti! Illum modi quo deleniti, numquam minima quis sunt, ipsum
            cupiditate aut, nihil in eligendi! Esse debitis itaque assumenda placeat rem veniam corporis iusto vitae,
            dicta hic.</p>

            <div class="text-center">
                <a class="btn btn-dark" href="/sign_in/">Sign in</a>
                <a class="btn btn-secondary" href="/sign_up/">Sign up</a>
            </div>
    </section>
</main>
{% endblock %}